body {
    
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
.green_color{
  color: #9bbf49ff;
}
.color_black{
  color: rgb(37, 37, 37) !important;
}
.reduce_width{
  width: auto !important;
}
hr{
  width: 60px;
  border-top: 4px solid #9bbf49ff !important;
}

  /* ---------green navigation bar--------- */

  .green_nav{
    background-color: #9bbf49ff;
   }
 .green_nav_cta{
background-color: #334d81ff;
color: white !important;
border-radius: 20px;
padding-left: 20px !important;
padding-right: 20px !important;
padding-top: 4px !important;
padding-bottom: 4px !important;
font-family: 'Poppins', sans-serif;
font-size: 15px;
}

.green_nav_cta:hover{
    background-color: white;
    color: #334d81ff !important;
    border-radius: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    transition: 0.5s;
    }

    .green_nav_left{
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        color: rgb(231, 231, 231);
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
    }
    .green_nav_left:hover{
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        color: white;
    }
.green_nav_expand{
    padding-left:2%;
    padding-right: 2%;
    max-width: 1800px;
  }

  
/* ------------top menu bar------------ */

.logoimage{
  width: 150px;
}

.menubar_items{
color: rgb(112, 112, 112) !important;
font-weight: 500;
padding-left: 17px !important;
padding-right: 17px !important;
font-family: 'Poppins', sans-serif;
font-size: 15px;
}

.menubar_items:hover{
  color: #9bbf49ff !important;
  font-weight: 500;
  padding-left: 17px !important;
  padding-right: 17px !important;
  transition: 0.3s;
  font-size: 15px;
  }

  .sub_menu{
    display: none;
    text-align: left;
     
}

.sub_menu ul{
  overflow-x:hidden;
  overflow-y:auto;
  height: 500px;
}



/* width */
.sub_menu ul::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.sub_menu ul::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.sub_menu ul::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177); 
  border-radius: 5px;
}

@keyframes example {
    from   {left:-10px;}
    to  {left:0px;}
    
  }
.collapse ul li:hover .sub_menu{
    display: block;
    position: absolute;
    
}
.collapse ul li:hover .sub_menu ul{
    display: block;
    animation-name: example;
    animation-duration: 0.5s;
    z-index: 100;
}

.sub_menu ul{
    position: relative;
    top: 10px;
    background-color: white;
    border-top: #9bbf49ff 2px solid;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.sub_menu ul li{
    padding-top: 7px;
    padding-bottom: 7px;
    list-style: none;
}

.sub_menu ul li a{
    font-weight: 400;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(110, 110, 110);
    font-size: 14px;
}
.sub_menu ul li a:hover{
    font-weight: 400;
    color: #9bbf49ff;
    transition: 0.3s;
    font-size: 14px;
}


.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
 display: flex;
  box-shadow: 0 2px 12px -2px gray;
  z-index: 1000;
  background-color: white;
}

/*--------------- slider-------------- */
.phoneimage{
width: 50%;
max-width: 300px;
}
.herniaheroimage{
 
max-width: 600px;
}
.herniaherophoneimage{
  display: none;
  
}
.first_car{
  background-color: #486db6ff;
}
.second_car{
  background-color: #b7bfd2ff;
}
.col-lg-6{
  text-align: center;
}

.slider_content{
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: 'Poppins', sans-serif;
  padding-left: 7% !important;
  padding-right: 4% !important;
  vertical-align: middle;
}

.big-heading{
  color: white;
  font-weight: 400 !important;
  padding-bottom: 20px;
  font-size: 35px;
}


.sliderp{
  color: #c2d0f2ff;
  line-height: 1.7;
}

.fa-shield{
  font-size: 25px !important;
  color: #9bbf49ff;
}
.fa-calendar-check-o{
  font-size: 25px !important;
  color: #9bbf49ff;
}
.white_highlight{
  color: white;
}

/* -------------------three col properties----------- */

.three_col_properties{
  text-align: center;
  font-family: 'Poppins', sans-serif;
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 5%;
    padding-bottom: 4%;
    max-width: 1800px;
    
}
.box_shadow{
  box-shadow: 0 6px 13px rgb(165, 165, 165);
}
.fa-heartbeat, .fa-medkit, .fa-user-md{
  font-size: 40px !important;
  color: #9bbf49ff;
}
.propertieshead{
  font-size: 20px;
  font-weight: 400;
}

.propertiessubhead{
font-weight: 500;
}

/* ----------------introduction------------------- */
.introduction{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 4%;
  padding-bottom: 4%;
  max-width: 1800px;
}

.top_subhead{
  font-size: 18px;
  letter-spacing: 1px;
  
  
}

.mainhead{
  font-weight: 500;
}

.introp{
  font-size: 17px;
  color: rgb(58, 58, 58);
  line-height: 1.7;
}

/* ------------------------services------------------------ */
.services_row{
margin-top: 7%;
}

.services{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 4%;
  padding-bottom: 4%;
  max-width: 1800px;
}
.servicesheading{
color: rgb(82, 81, 81);
padding-bottom: 10px;
padding-top: 20px;
}

.services_content{
  text-align: left !important;
  padding-left: 20px;
  padding-right: 20px;
}
.serviceimages{
  width: 100%;
}
.services_p{
  margin-top: 20px;
  line-height: 1.6;
}
.serv_hr{
  width: 30px;
  border-top: 2px solid #9bbf49ff !important;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

  @media (max-width: 992px) {
    .green_nav text{
      display: none;
    }
    .sub_menu ul{
      text-align: center;
    }
    .collapse ul li:hover .sub_menu{
      display: block;
      position: static;
  }

  .big-heading{
    font-size: 30px;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .sliderp{
    font-size: 12px;
  }
  .slider_content{
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .herniaheroimage{
    display: none;
  }
  .herniaherophoneimage{
    display: inline-block;
    
  }
  .banner_image{
    text-align: center;
  }
  .top_subhead{
    font-size: 12px;
  }
  .mainhead{
    font-size: 30px;
  }
  .introp{
    font-size: 12px
  }
  .introduction{
    padding-top: 10%;
    padding-bottom: 7%;
  }

  .fa-heartbeat, .fa-medkit, .fa-user-md{
    font-size: 30px !important;
    color: #9bbf49ff;
  }
  .propertieshead{
    font-size: 15px;
    font-weight: 400;
  }
  
  .propertiessubhead{
  font-weight: 500;
  font-size: 13px;
  }

  .propertiesp{
    font-size: 12px;
  }
  }